<main>
    <h2>{{ "about-me" | translate }}</h2>
    <div>
        <div>
            <p>{{ "about-me-p" | translate }}<br>
                <br>
                {{ "about-me-br" | translate }}
            </p>
            <button (click)="scrollToSection('contact')" class="noselect">{{ "about-me-button" | translate }}</button>
        </div>
        <div [class.portraitAni]="portraitScrolled" class="portrait noselect">
            <div></div>
            <img src="../../../assets/img/portrait.jpg" alt="Portrait">
        </div>
    </div>
</main>

