@import "../../../../styles.scss";

main {
    display: flex;
    width: 77.5rem;
    padding: 1.875rem 6.25rem;
    justify-content: space-between;
    align-items: center;
    background-color: $cream;
    font-family: 'Syne';

    >img:first-child {
        width: 4.16669rem;
        height: 1.875rem;
        flex-shrink: 0;
    }

    >img:last-child {
        height: 2rem;
        width: 2.5rem;
    }
}