@import "../../../../styles.scss";

main {
    display: flex;
    width: 77.5rem;
    padding: 1.875rem 6.25rem;
    justify-content: space-between;
    align-items: center;
    background-color: $cream;
    font-family: 'Syne';

    >img:first-child {
        width: 4.16669rem;
        height: 1.875rem;
        flex-shrink: 0;
    }

    >img:last-child {
        height: 2rem;
        width: 2.5rem;
    }
}

.language {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 8rem;
    font-size: 1.25rem;

    >span {
        transition: 100ms ease-in-out;
    }

    >span:last-child {
        position: absolute;
        right: 0;
        padding: 1rem;
    }
    >span:first-child {
        position: absolute;
        left: 0;
        padding: 1rem; 
    }

    >span:not(:nth-child(2)):hover {
        color: $orange;
    }
}

.selected {
    color: $orange;
    font-weight: 900 !important;
}

.closeMenuAni {
    animation: 200ms closeBurgerMenu ease-out forwards;
}

.openMenuAni {
    animation: 200ms openBurgerMenu ease-out forwards;
}

@keyframes openBurgerMenu {
    0% {
        content: url(../../../../assets/img/burger-menu/1-open.svg);
    }

    25% {
        content: url(../../../../assets/img/burger-menu/2-trans.svg);
    }

    50% {
        content: url(../../../../assets/img/burger-menu/3-trans.svg);
    }

    75% {
        content: url(../../../../assets/img/burger-menu/4-trans.svg);
    }

    100% {
        content: url(../../../../assets/img/burger-menu/5-close.svg);
    }
}

@keyframes closeBurgerMenu {
    100% {
        content: url(../../../../assets/img/burger-menu/1-open.svg);
    }

    75% {
        content: url(../../../../assets/img/burger-menu/2-trans.svg);
    }

    50% {
        content: url(../../../../assets/img/burger-menu/3-trans.svg);
    }

    25% {
        content: url(../../../../assets/img/burger-menu/4-trans.svg);
    }

    0% {
        content: url(../../../../assets/img/burger-menu/5-close.svg);
    }
}