@import "../../../styles.scss";

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6.5rem 0 6.06rem;
    gap: 2.19rem;
    width: calc(100% - 6.5rem - 6.06rem);

    >div {
        margin-top: 4.93rem;
        display: flex;
        flex-direction: column;
        gap: 25vh;
        width: 100%;
    }
}

h2 {
    text-align: center;
    font-family: Syne;
    font-size: 4.875rem;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.04875rem;
}

p {
    width: 32.8125rem;
    font-size: 1.4375rem;
    line-height: 120%;
}

@keyframes awakeBackwardsMobile {
    0% {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: calc(-0.75rem - 2px);
    }

    100% {
        transform: rotate(0);
        width: 2.34375rem;
        height: 2.34375rem;
        margin-left: calc(-1.171875rem - 2px);
    }
}

@keyframes awakeMobile {

    0% {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: calc(-0.75rem - 2px);
    }

    100% {
        transform: rotate(0);
        width: 2.34375rem;
        height: 2.34375rem;
        margin-right: calc(-1.171875rem - 2px);
    }
}

@media (min-width: 390px) and (max-width: 874px) {
    main {
        padding: 0 1.1875rem 0 1.5625rem;
        width: calc(100% - 1.1875rem - 1.5625rem);
        align-items: center;
        >div {
            padding-right: 0.375rem;
            margin-top: 0.9525rem;
            gap: 2.1875rem;
        }
    }

    h2 {
        font-size: 2.8125rem;
        letter-spacing: 0.02813rem;
    }

    p {
        align-self: flex-start;
        width: 100%;
    }
}

:host {
    .projectAni {
        ::ng-deep main {
            .thumbnail {
                >img {
                    filter: grayscale(0);
                }
    
                >div {
                    opacity: 1;
                    margin: 0.75rem 0 0 0.625rem;
    
                    >img {
                        animation: 150ms linear awakeMobile forwards;
                    }
                }
            }

            .description {
                opacity: 1;
                transform: translateX(0);
            }
        }





        ::ng-deep .backwards {
            .thumbnail {
                >div {
                    margin: 0.75rem 0.625rem 0 -0.625rem !important;
    
                    >img {
                        animation: 150ms linear awakeBackwardsMobile forwards !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 875px) and (max-width: 1000px) {
    main {
        padding: 0 calc(6.5rem / 2)  0 calc(6.06rem / 2);
        width: calc(100% - (6.5rem / 2) - (6.06rem / 2));
    }
}