<main>
    <h2>Datenschutzerklärung</h2>
    <ol>
        <div>
            <li>
                <span>Einleitung</span>
                <p>Diese Website wird betrieben von: Ghulammustafa Kakar.<br>
                    Es ist uns sehr wichtig, mit den Daten unserer Website-Besucher vertrauensvoll umzugehen und sie
                    bestmöglich zu schützen. Aus diesem Grund leisten wir alle Anstrengungen, um die Anforderungen der
                    DSGVO zu erfüllen.<br>
                    Im Folgenden erläutern wir Ihnen, wie wir Ihre Daten auf unserer Webseite verarbeiten. Dazu
                    verwenden wir eine möglichst klare und transparente Sprache, damit Sie wirklich verstehen, was mit
                    Ihren Daten passiert.
                </p>
            </li>
        </div>
        <div>
            <li>
                <span>Allgemeine Informationen</span>
                <p>
                    <b>Verarbeitung von personenbezogenen Daten und andere Begriffe</b><br>
                    Datenschutz gilt bei der Verarbeitung von personenbezogenen Daten. Personenbezogen meint alle Daten,
                    mit denen Sie persönlich identifiziert werden können. Das ist z.B. die IP-Adresse des Geräts (PC,
                    Laptop, Smartphone, etc.) vor dem Sie gerade sitzen. Verarbeitet werden solche Daten dann, wenn
                    ‚irgendetwas damit passiert‘. Hier wird z.B. die IP vom Browser an unseren Provider übermittelt und
                    dort automatisch gespeichert. Das ist dann eine Verarbeitung (gemäß Art. 4 Nr. 2 DSGVO) von
                    personenbezogenen Daten (nach Art. 4 Nr. 1 DSGVO).<br>
                    Diese und weitere gesetzlichen Definitionen sind in Art. 4 DSGVO zu finden.
                </p><br>
                <p><b>Anzuwendende Vorschriften/ Gesetze – DSGVO, BDSG und TTDSG</b><br>
                    Der Umfang des Datenschutzes wird durch Gesetze geregelt. Das sind in diesem Fall die DSGVO
                    (Datenschutzgrundverordnung) als europäische Verordnung und das BDSG (Bundesdatenschutzgesetz) als
                    nationales Gesetz.<br>
                    Außerdem ergänzt das TTDSG die Vorschriften aus der DSGVO, soweit es sich um den Einsatz von Cookies
                    handelt.
                </p><br>
                <p><b>Der Verantwortliche</b><br>
                    Verantwortlich für die Datenverarbeitung auf dieser Website ist der Verantwortliche im Sinne der
                    DSGVO. Das ist diejenige natürliche oder juristische Person, die allein oder gemeinsam mit anderen
                    über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet.<br>
                    Den Verantwortlichen erreichen Sie unter:<br>
                    Ghulammustafa Kakar<br>
                    Karlstraße 6A<br>
                    38300 Wolfenbüttel<br>
                    ghulammustafa&#64;kakar.dev
                </p><br>
                <p><b>So werden Daten auf dieser Website grundsätzlich verarbeitet</b><br>
                    Wie wir bereits festgestellt haben, gibt es Daten (z.B. IP-Adresse) die automatisch erhoben werden.
                    Diese Daten werden überwiegend für die technische Bereitstellung der Homepage benötigt. Soweit wir
                    darüber hinaus personenbezogene Daten verwenden oder andere Daten erheben, klären wir Sie darüber
                    auf bzw. fragen nach einer Einwilligung.<br>
                    Andere personenbezogene Daten teilen Sie uns bewusst mit.<br>
                    Detaillierte Informationen hierzu erhalten Sie weiter unten.
                </p><br>
                <p><b>Ihre Rechte</b><br>
                    Die DSGVO stattet Sie mit umfassenden Rechten aus. Diese sind z.B. die unentgeltliche Auskunft über
                    Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten. Außerdem können Sie die
                    Berichtigung, Sperrung oder Löschung dieser Daten verlangen oder sich bei der zuständigen
                    Datenschutzaufsichtsbehörde beschweren. Eine erteilte Einwilligung können Sie jederzeit
                    widerrufen.<br>
                    Wie diese Rechte im Detail aussehen und wie sie wahrzunehmen sind, finden Sie im letzten Abschnitt
                    dieser Datenschutzerklärung.
                </p><br>
                <p><b>Datenschutz – Unsere Sicht</b><br>
                    Datenschutz ist für uns mehr als nur eine lästige Pflicht! Personenbezogene Daten haben einen großen
                    Wert und ein achtsamer Umgang mit diesen Daten sollte in unserer digitalisierten Welt
                    selbstverständlich sein. Außerdem sollen Sie als Website-Besucher in der Lage sein, selbst zu
                    entscheiden, was, wann und durch wen mit Ihren Daten „passiert“. Deswegen verpflichten wir uns, alle
                    gesetzlichen Bestimmungen einzuhalten, erheben nur die für uns notwendigen Daten und behandeln diese
                    selbstverständlich vertraulich.
                </p><br>
                <p><b>Weitergabe und Löschung</b><br>
                    Die Weitergabe und Löschung von Daten sind ebenfalls wichtige und sensible Themen. Deswegen möchten
                    wir Sie vorab kurz über unsere generelle Herangehensweise hierzu informieren.<br>
                    Eine Weitergabe der Daten findet nur aufgrund einer Rechtsgrundlage und nur dann statt, wenn dies
                    unumgänglich ist. Dies kann insbesondere dann der Fall sein, wenn es sich um einen sogenannten
                    Auftragsverarbeiter handelt und ein Auftragsverarbeitungsvertrag nach Art. 28 DSGVO geschlossen
                    wurde.<br>
                    Wir löschen Ihre Daten dann, wenn der Zweck und die Rechtsgrundlage zur Verarbeitung wegfallen und
                    der Löschung zudem keine anderen gesetzlichen Verpflichtungen entgegenstehen. Einen ‚guten‘
                    Überblick darüber gibt auch Art. 17 DSGVO.<br>
                    Alle weiterführenden Informationen entnehmen Sie bitte dieser Datenschutzerklärung und wenden sich
                    bei konkreten Fragen an den Verantwortlichen.
                </p><br>
                <p><b>Hosting</b><br>
                    Diese Website wird extern gehostet. Die personenbezogenen Daten, die auf dieser Website erfasst
                    werden, werden auf den Servern des Hosters gespeichert. Hierbei handelt es sich zum einen um die
                    automatisch erhobenen und gespeicherten Logfiles (näheres dazu siehe unten), wie auch um alle
                    sonstigen Daten, die die Website Besucher angeben. <br>
                    Das externe Hosting erfolgt zum Zwecke einer sicheren, schnelle und zuverlässigen Bereitstellung
                    unserer Website und dient in diesem Zusammenhang der Vertragserfüllung gegenüber unseren
                    potentiellen und bestehenden Kunden.<br>
                    Rechtsgrundlage für die Verarbeitung ist Art. 6 Abs. 1 lit. a, b und f DSGVO, sowie § 25 Abs. 1
                    TTDSG, soweit eine Einwilligung die Speicherung von Cookies oder den Zugriff auf Informationen im
                    Endgerät des Website Besuchers oder Users im Sinne des TTDSG umfasst.<br>
                    Unser Hoster verarbeitet nur solche Daten, die zur Erfüllung seiner Leistungspflicht erforderlich
                    sind und agiert als unser Auftragsverarbeiter, das heißt, er unterliegt unseren Weisungen. Wir haben
                    einen entsprechenden Vertrag über die Auftragsverarbeitung mit unserem Hoster geschlossen.<br>
                    Folgenden Hoster setzen wir ein:<br>
                    IONOS<br>
                    IONOS SE, Elgendorfer Str. 57, 56410 Montabaur, Deutschland.<br>
                    info&#64;ionos.de<br>
                    https://www.ionos.de/terms-gtc/datenschutzerklaerung/.
                </p><br>
                <p><b>Rechtsgrundlagen</b><br>
                    Die Verarbeitung von personenbezogenen Daten benötigt immer eine Rechtsgrundlage. Die DSGVO sieht in
                    Art. 6 Abs. 1 Satz 1 folgende Möglichkeiten vor:<br>
                    <br>
                    a) Die betroffene Person hat ihre Einwilligung zu der Verarbeitung der sie betreffenden
                    personenbezogenen Daten für einen oder mehrere bestimmte Zwecke gegeben;<br>
                    <br>
                    b) die Verarbeitung ist für die Erfüllung eines Vertrags, dessen Vertragspartei die betroffene
                    Person ist, oder zur Durchführung vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der
                    betroffenen Person erfolgen;<br>
                    <br>
                    c) die Verarbeitung ist zur Erfüllung einer rechtlichen Verpflichtung erforderlich, der
                    Verantwortliche unterliegt;<br>
                    <br>
                    d) die Verarbeitung ist erforderlich, um lebenswichtige Interessen der betroffenen Person oder einer
                    anderen natürlichen Person zu schützen;<br>
                    <br>
                    e) die Verarbeitung ist für die Wahrnehmung einer Aufgabe erforderlich, die im öffentlichen
                    Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt, die dem Verantwortlichen übertragen
                    wurde;<br>
                    <br>
                    f) die Verarbeitung ist zur Wahrung der berechtigten Interessen des Verantwortlichen oder eines
                    Dritten erforderlich, sofern nicht die Interessen oder Grundrechte und Grundfreiheiten der
                    betroffenen Person, die den Schutz personenbezogener Daten erfordern, überwiegen, insbesondere dann,
                    wenn es sich bei der betroffenen Person um ein Kind handelt.<br>
                    <br>
                    In den folgenden Abschnitten werden wir Ihnen die konkrete Rechtsgrundlage zu der jeweiligen
                    Verarbeitung nennen.
                </p>
            </li>
        </div>
        <div>
            <li>
                <span>Das passiert auf unserer Website</span>
                <p>Durch den Besuch auf unserer Website verarbeiten wir personenbezogene Daten von Ihnen.<br>
                    Um diese Daten bestmöglich gegen einen unbefugten Eingriff durch Dritte zu schützen, benutzen wir
                    eine SSL- bzw. TLS-Verschlüsselung. Diese verschlüsselte Verbindung erkennen Sie daran, dass in der
                    Adresszeile Ihres Browsers ein https:// oder ein Schloss-Symbol abgebildet ist.<br>
                    Im Folgenden erfahren Sie, welche Daten beim Besuch unserer Website erhoben werden, zu welchem Zweck
                    dies geschieht und aufgrund welcher Rechtsgrundlage.<br>
                </p><br>
                <p><b>Datenerhebung beim Aufruf der Website</b><br>
                    Durch das Aufrufen der Website werden automatisch Informationen in sogenannten Server-Log-Dateien
                    gespeichert. Es handelt sich um folgende Informationen:<br>
                    <br>
                    - Browsertyp und Browserversion<br>
                    - verwendetes Betriebssystem<br>
                    - Referrer URL <br>
                    - Hostname des zugreifenden Rechners<br>
                    - Uhrzeit der Serveranfrage<br>
                    - IP-Adresse<br>
                    <br>
                    Diese Daten werden vorübergehend benötigt, um Ihnen unsere Website dauerhaft und problemlos anzeigen
                    zu können. Insbesondere dienen diese Daten damit folgenden Zwecken:<br>
                    <br>
                    - Systemsicherheit der Website<br>
                    - Systemstabilität der Website<br>
                    - Fehlerbehebung auf der Website<br>
                    - Verbindungsaufbau zur Website<br>
                    - Darstellung der Website<br>
                    <br>
                    Die Datenverarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO und erfolgt aus unserem berechtigten
                    Interesse an der Verarbeitung dieser Daten, insbesondere aus dem Interesse an der Funktionalität der
                    Website sowie deren Sicherheit.<br>
                    Diese Daten werden nach Möglichkeit pseudonymisiert gespeichert und nach Erreichen des jeweiligen
                    Zwecks gelöscht. <br>
                    Soweit die Server-Log-Dateien die Identifizierung der betroffenen Person ermöglicht, werden die
                    Daten maximal für einen Zeitraum von 14 Tagen gespeichert. Eine Ausnahme besteht dann, wenn ein
                    sicherheitsrelevantes Ereignis auftritt. In diesem Fall werden die Server-Log-Dateien bis zur
                    Beseitigung und abschließenden Aufklärung des sicherheitsrelevanten Ereignisses gespeichert. <br>
                    Im Übrigen findet eine Zusammenführung mit anderen Daten findet nicht statt.
                </p><br>
                <p><b>Datenverarbeitung durch Nutzereingabe</b><br>
                    <br>
                    a) E-Mail<br>
                    Wenn Sie per E-Mail mit uns in Kontakt treten, verarbeiten wir Ihre E-Mail-Adresse und ggfs. weitere
                    in der Mail enthaltene Daten. Diese werden auf dem Mail-Server und teilweise auf den jeweiligen
                    Endgeräten gespeichert. Je nach Anliegen ist die Rechtsgrundlage hierfür regelmäßig Art. 6 Abs. 1
                    lit. f DSGVO oder Art. 6 Abs. 1 lit. b DSGVO. Die Daten werden gelöscht, sobald der jeweilige Zweck
                    entfällt und es gemäß den gesetzlichen Vorgaben möglich ist. <br>
                    <br>
                    b) Kontaktformular<br>
                    Wir bieten ein Kontaktformular an. Dieses dient der Kontaktaufnahme zu unserem Unternehmen.<br>
                    In diesem Formular verarbeiten wir in der Regel Ihren Vor- und Nachnamen, Ihre Telefonnummer, Ihre
                    E-Mail-Adresse, eine postalische Adresse sowie den Inhalt der Nachricht. Die Daten werden auf
                    unserem Webserver gespeichert und an die jeweils zuständigen E-Mail-Adressen intern weitergeleitet.
                    <br>
                    Die Rechtsgrundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. f DSGVO, da wir ein
                    berechtigtes Interesse an der Beantwortung Ihres Anliegens und an einer unkomplizierten
                    Kontaktaufnahme-Möglichkeit haben. Zielt die Kontaktaufnahme auf den Abschluss eines Vertrages ab,
                    so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.<br>
                    Wir löschen diese Daten spätestens 3 Monate nach Erhalt, es sei denn, sie werden für eine
                    entstandene Vertragsbeziehung benötigt.<br>
                    Das Kontaktformular auf unserer Website beruht auf unserer eigenen Entwicklung. Eine
                    Datenübermittlung an Dritte findet nicht statt.<br>
                </p>
            </li>
        </div>
        <div>
            <li>
                <span>Das ist sonst noch wichtig</span>
                <p>Zum Abschluss möchten wir Sie ausführlich und detailliert über Ihre Rechte informieren und Ihnen
                    mitteilen, wie Sie über Veränderungen der datenschutzrechtlichen Anforderungen informiert werden
                    wirst.

                </p><br>
                <p><b>Auskunftsrecht nach Art. 15 DSGVO</b><br>
                    Sie können Auskunft darüber verlangen, ob personenbezogenen Daten von Ihnen verarbeitet werden. Ist
                    das der Fall, können Sie weitere Auskünfte zur Art und Weise der Verarbeitung einfordern. Eine
                    detaillierte Aufzählung finden Sie in Art. 15 Abs. 1 lit. a bis h DSGVO.
                </p><br>
                <p><b>Recht auf Berichtigung nach Art. 16 DSGVO</b><br>
                    Dieses Recht umfasst die Berichtigung unrichtiger Daten und die Ergänzung unvollständiger
                    personenbezogener Daten.
                </p><br>
                <p><b>Recht auf Löschung nach Art. 17 DSGVO</b><br>
                    Dieses sogenannte ‚Recht auf Vergessenwerden‘ gibt Ihnen das Recht, unter bestimmten
                    Voraussetzungen, die Löschung der personenbezogenen Daten durch den Verantwortlichen zu verlangen.
                    Dies ist grundsätzlich dann der Fall, wenn der Zweck der Datenverarbeitung entfallen ist, wenn eine
                    Einwilligung widerrufen wurde oder die Ausgangsverarbeitung ohne Rechtsgrundlage stattfand. Eine
                    detaillierte Aufzählung von Gründen finden Sie in Art. 17 Abs. 1 lit. a bis f DSGVO. Dieses „Recht
                    auf Vergessenwerden“ korrespondiert darüber hinaus mit der Pflicht des Verantwortlichen aus Art. 17
                    Abs. 2 DSGVO angemessene Maßnahmen zu ergreifen, um eine allgemeine Löschung der Daten
                    herbeizuführen.
                </p><br>
                <p><b>Recht auf Einschränkung der Verarbeitung nach Art. 18 DSGVO</b><br>
                    Dieses Recht ist an die Voraussetzungen gemäß Art. 18 Abs. 1 lit. a bis d geknüpft.
                </p><br>
                <p><b>Recht auf Datenübertragbarkeit nach Art. 20 DSGVO</b><br>
                    Hier wird das grundsätzliche Recht zum Erhalt der eigenen Daten in einer gängigen Form und der
                    Übermittlung an einen anderen Verantwortlichen geregelt. Dies gilt allerdings nur für die Daten
                    einer Verarbeitung aufgrund von Einwilligung oder Vertrag nach Art. 20 Abs. 1 lit. a und b und
                    soweit dies technisch machbar ist.
                </p><br>
                <p><b>Recht auf Widerspruch nach Art. 21 DSGVO</b><br>
                    Sie können grundsätzlich der Verarbeitung Ihrer personenbezogenen Daten widersprechen. Dies gilt
                    insbesondere dann, wenn Ihr Interesse am Widerspruch das berechtigte Interesse des Verantwortlichen
                    an der Verarbeitung überwiegt und wenn sich die Verarbeitung auf Direktwerbung und oder Profiling
                    bezieht.
                </p><br>
                <p><b>Recht auf „Entscheidung im Einzelfall“ nach Art. 22 DSGVO</b><br>
                    Sie haben grundsätzlich das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung
                    (einschließlich Profiling) beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber
                    rechtliche Wirkung entfaltet oder Sie in ähnlicher Weise erheblich beeinträchtigt. Auch dieses Recht
                    findet allerdings Einschränkungen und Ergänzungen in Art. 22 Abs. 2 und 4 DSGVO.
                </p><br>
                <p><b>Weitere Rechte</b><br>
                    Die DSGVO beinhaltet umfassende Rechte der Unterrichtung von Dritten darüber, ob oder wie Sie Rechte
                    nach Art. 16, 17, 18 DSGVO geltend gemacht haben. Dies allerdings nur insoweit dies auch möglich
                    bzw. mit einem angemessenen Aufwand durchführbar ist. <br>
                    Wir möchten Sie an dieser Stelle erneut auf Ihr Recht des Widerrufs einer erteilten Einwilligung
                    nach Art. 7 Abs. 3 DSGVO hinweisen. Die Rechtmäßigkeit der bis dahin durchgeführten Verarbeitung
                    wird dadurch allerdings nicht berührt.<br>
                    Außerdem möchten wir Sie auch noch auf Ihre Rechte nach §§ 32 ff. BDSG hinweisen, die allerdings
                    inhaltlich größtenteils deckungsgleich mit den soeben beschrieben Rechten sind.
                </p><br>
                <p><b>Beschwerderecht nach Art. 77 DSGVO</b><br>
                    Sie haben auch das Recht sich bei einer Datenschutzaufsichtsbehörde zu beschweren, wenn Sie der
                    Ansicht sind, dass eine Verarbeitung der Sie betreffenden personenbezogenen Daten gegen diese
                    Verordnung verstößt.
                </p>
            </li>
        </div>
        <div>
            <li>
                <span>Was ist, wenn morgen die DSGVO abgeschafft wird oder andere Veränderungen stattfinden?</span>
                <p>Der aktuelle Stand dieser Datenschutzerklärung ist 13.03.2024. Von Zeit zu Zeit ist es erforderlich,
                    den Inhalt der Datenschutzerklärung anzupassen, um auf tatsächliche und rechtliche Veränderungen zu
                    reagieren. Wir behalten uns daher vor, diese Datenschutzerklärung jederzeit zu ändern. Wir werden
                    die geänderte Version an gleicher Stelle veröffentlichen und empfehlen Ihnen, die
                    Datenschutzerklärung regelmäßig zu lesen.</p>
            </li>
        </div>
    </ol>
</main>