@import "../../../styles.scss";

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 0 6.25rem;

    >div {
        display: inline-flex;
        padding: calc(10.0625rem - 4px) calc(5.375rem - 4px) calc(8.34rem - 4px) calc(5.375rem - 4px);
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border: 4px solid $black;
        column-gap: 7rem;
        row-gap: 4.41rem;
    }
}

h2 {
    height: 4.875rem;
    padding: 0.625rem 1.4375rem 0.625rem 1.4375rem;
    margin-bottom: -2.745rem;
    text-align: center;
    font-family: Syne;
    font-size: 4.875rem;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.04875rem;
    background: $cream;
    z-index: 1;
}

.skill {
    display: flex;
    width: 6.25rem;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    overflow: hidden;

    >div {
        height: 4.6875rem;

        >img {
            height: 4.6875rem;
            transition: 100ms ease-in-out;
            filter: invert(71%) sepia(89%) saturate(3345%) hue-rotate(357deg) brightness(0) contrast(110%);

        }
    }


    >h6 {
        text-align: center;
        font-size: 1rem;
        line-height: 120%;
        transition: 100ms ease-in-out;
    }

}

.skillAni {
    pointer-events: none;

    >div {

        >img {
            animation: 500ms spin 100ms ease-in-out !important;
            filter: invert(71%) sepia(89%) saturate(3345%) hue-rotate(357deg) brightness(103%) contrast(110%) !important;
        }
    }

    >h6 {
        color: $orange !important;
    }
}

@keyframes spin {
    0% {
        height: 4.6875rem;
        transform: translateX(0)
    }

    20% {
        height: 4.6875rem;
        transform: translateX(50%);
    }

    40% {
        height: 3.625rem;
        transform: translateX(92%);
    }

    60% {
        height: 3.625rem;
        transform: translateX(-92%);
    }

    80% {
        height: 4.6875rem;
        transform: translateX(-50%);
    }

    100% {
        height: 4.6875rem;
        transform: translateX(0);
    }
}

@keyframes spinMobile {
    0% {
        height: 3.75rem;
        transform: translateX(0)
    }

    20% {
        height: 3.75rem;
        transform: translateX(50%);
    }

    40% {
        height: 2.75rem;
        transform: translateX(92%);
    }

    60% {
        height: 2.75rem;
        transform: translateX(-92%);
    }

    80% {
        height: 3.75rem;
        transform: translateX(-50%);
    }

    100% {
        height: 3.75rem;
        transform: translateX(0);
    }
}

@media (pointer: fine) and (hover: hover) {
    .skill {
        &:hover {
            >div {
    
                >img {
                    animation: 500ms spin 100ms ease-in-out;
                    filter: invert(71%) sepia(89%) saturate(3345%) hue-rotate(357deg) brightness(103%) contrast(110%);
                }
            }
    
            >h6 {
                color: $orange;
            }
        }
    }

    @keyframes spin {
        0% {
            height: 4.6875rem;
            transform: translateX(0)
        }
    
        20% {
            height: 4.6875rem;
            transform: translateX(50%);
        }
    
        40% {
            height: 3.625rem;
            transform: translateX(92%);
        }
    
        60% {
            height: 3.625rem;
            transform: translateX(-92%);
        }
    
        80% {
            height: 4.6875rem;
            transform: translateX(-50%);
        }
    
        100% {
            height: 4.6875rem;
            transform: translateX(0);
        }
    }
}

@media (pointer: fine) and (hover: hover) and (max-width: 875px) {
    .skill {
        &:hover {
            >div {
    
                >img {
                    animation: 500ms spinMobile 100ms ease-in-out;
                    filter: invert(71%) sepia(89%) saturate(3345%) hue-rotate(357deg) brightness(103%) contrast(110%);
                }
            }
    
            >h6 {
                color: $orange;
            }
        }
    }

    @keyframes spinMobile {
        0% {
            height: 3.75rem;
            transform: translateX(0)
        }
    
        20% {
            height: 3.75rem;
            transform: translateX(50%);
        }
    
        40% {
            height: 2.75rem;
            transform: translateX(92%);
        }
    
        60% {
            height: 2.75rem;
            transform: translateX(-92%);
        }
    
        80% {
            height: 3.75rem;
            transform: translateX(-50%);
        }
    
        100% {
            height: 3.75rem;
            transform: translateX(0);
        }
    }
}

@media (max-width: 500px) {
    .my-skills-de {
        width: min-content;
        margin-bottom: -2.5rem;
    }
}

@media (max-width: 875px) {
    main {
        padding: 0 1.5625rem;
        height: unset;

        >div {
            row-gap: 1.9375rem;
            column-gap: 1.580625rem;
            padding: calc(4rem - 4px) calc(1.018125rem - 4px) calc(1.018125rem - 4px) calc(1rem - 4px);
        }
    }

    h2 {
        font-size: 2.8125rem;
        letter-spacing: 0.02813rem;
        width: max-content;
        height: unset;
        padding: 0 0.4375rem;
        margin-bottom: -1.40625rem;
    }

    .skill {
        width: 5.35663rem;

        >div {
            height: 3.75rem;

            >img {
                height: 3.75rem;
            }
        }
    }

    .skillAni {
        pointer-events: none;
    
        >div {
    
            >img {
                animation: 500ms spinMobile 100ms ease-in-out !important;
                filter: invert(71%) sepia(89%) saturate(3345%) hue-rotate(357deg) brightness(103%) contrast(110%) !important;
            }
        }
    
        >h6 {
            color: $orange !important;
        }
    }

    @keyframes spinMobile {
        0% {
            height: 3.75rem;
            transform: translateX(0)
        }
    
        20% {
            height: 3.75rem;
            transform: translateX(50%);
        }
    
        40% {
            height: 2.75rem;
            transform: translateX(92%);
        }
    
        60% {
            height: 2.75rem;
            transform: translateX(-92%);
        }
    
        80% {
            height: 3.75rem;
            transform: translateX(-50%);
        }
    
        100% {
            height: 3.75rem;
            transform: translateX(0);
        }
    }
}

@media (min-width: 875px) and (max-width: 1000px) {
    main {
        padding: 0 calc(6.25rem / 2);
    }
}