<main>
    <div>
        <h1 class="job-title">Frontend</h1>
        <h1 class="job-title">Developer</h1>
        <div>
            <div class="line"></div>
            <h6 class="name">Ghulammustafa Kakar</h6>
        </div>
    </div>
    <div class="other">
        <div>
            <span>sefan(at)gmail.com</span>
        </div>
        <div>
            <img src="../../../assets/img/arrows/scroll-down/3.svg" alt="Scroll Down">
            <span>Scroll<br>
                Down</span>
        </div>
    </div>
</main>