<main>
    <div>
        <h1 class="job-title">Fullstack</h1>
        <h1 class="job-title">{{ "job-title" | translate }}</h1>
        <div>
            <div class="line"></div>
            <h6 class="name">Ghulammustafa Kakar</h6>
        </div>
    </div>
    <button (click)="scrollToSection('contact')" class="noselect">{{ "send-a-message" | translate }}</button>
    <div class="other noselect">
        <div>
            <a href="mailto:ghulammustafa@kakar.dev">ghulammustafa&#64;kakar.dev</a>
        </div>
        <div (click)="scrollToSection('about-me')">
            <div>
                <img src="../../../assets/img/arrows/scroll-down/2.svg" alt="Scroll Down">
            </div>
            <span>{{ "scroll" | translate }}<br>
                {{ "down" | translate }}</span>
        </div>
    </div>
</main>