<main [class.backwards]= "index % 2 == 1" [ngStyle]="{'flex-direction': index % 2 == 0 ? 'row' : 'row-reverse'}">
    <div class="thumbnail">
        <div>
            <img src="../../../../assets/img/arrows/icon/arrow-icon.svg">
        </div>
        <img src="../../../../assets/img/projects/{{ project.path }}.png" alt="{{ project.name }}">
    </div>
    <div [ngStyle]="{'align-items': index % 2 == 0 ? 'flex-end' : 'flex-start'}">
        <span>{{ project.number }}/03</span>
        <div class="description">
            <div>
                <h3>{{ project.name }}</h3>
                <span>{{ project.tools }}</span>
                <p>{{ project.description }}</p>
            </div>
            <div>
                <button>Test</button>
                <button>Github</button>
            </div>
        </div>
    </div>
</main>