<main [class.backwards]= "index % 2 == 1">
    <span>{{ project.number }}/04</span>
    <div class="thumbnail noselect">
        <div>
            <img src="../../../../assets/img/arrows/icon/arrow-icon.svg">
        </div>
        <img src="../../../../assets/img/projects/{{ project.path }}.png" alt="{{ project.name }}">
    </div>
    <div [ngStyle]="{'align-items': index % 2 == 0 ? 'flex-end' : 'flex-start'}">
        <span>{{ project.number }}/04</span>
        <div class="description">
            <div>
                <h3>{{ project.name }}</h3>
                <span>{{ project.tools }}</span>
                <p>{{ project.path | translate }}</p>
            </div>
            <div class="noselect" [class.fullstack]="project.githubBackend !== ''">
                @if (project.githubBackend !== '') {
                    <a href="{{ project.link }}" target="_blank"><button><img src="../../../../assets/img/symbols/play.svg" alt="Play"></button></a>
                    <div>
                        <a href="{{ project.githubFrontend }}" target="_blank"><button>Front<br>End</button></a>
                        <a href="{{ project.githubBackend }}" target="_blank"><button>Back<br>End</button></a>
                    </div>
                } @else {
                    <a href="{{ project.link }}" target="_blank"><button><img src="../../../../assets/img/symbols/play.svg" alt="Play"></button></a>
                    <a href="{{ project.githubFrontend }}" target="_blank"><button><img style="filter: brightness(0);" src="../../../../assets/img/socials/github.svg" alt="GitHub"></button></a>
                }
            </div>
        </div>
    </div>
</main>