@import "../../styles.scss";
@import "../../app/legal-notice/legal-notice.component.scss";

ol {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

::marker {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
}

@media (min-width: 390px) and (max-width: 875px) {
    main {
        padding-left: 2.5rem;
    }

    ::marker {
        font-size: 1.5rem;
    }
}