<main>
    <div>
        <div>
            <img src="../../../../assets/img/logo/logo-white.svg" alt="GK">
            <span>© Ghulammustafa Kakar 2024</span>
        </div>
        <div class="socials">
            <a href="https://github.com/Kakar21" target="_blank"><img src="../../../../assets/img/socials/github.svg" alt="Github"></a>
            <a href="mailto:ghulammustafa@kakar.dev"><img src="../../../../assets/img/socials/mail.svg" alt="E-Mail"></a>
            <a href="https://www.linkedin.com/in/ghulammustafa-kakar/" target="_blank"><img src="../../../../assets/img/socials/linkedin.svg" alt="LinkedIn"></a>
        </div>
    </div>
    <div class="link">
        <a href="./privacy-policy" target="_blank">Privacy policy</a>
        <div></div>
    </div>
    <div class="link">
        <a href="./legal-notice" target="_blank">Legal notice</a>
        <div></div>
    </div>
</main>