@import "../../styles.scss";

main {
    margin-top: 5.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    padding: 3.25rem 6.25rem 3.25rem 6.5rem;
}

h2 {
    text-align: center;
    font-family: Syne;
    font-size: 4.875rem;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.04875rem;
    margin-bottom: 2.125rem;
}

p {
    font-size: 1.4375rem;
    line-height: 120%;
}

span {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    /* 2.4rem */
}

@media (min-width: 390px) and (max-width: 1440px) {
    main {
        padding: 2.375rem 1.25rem 2.375rem 1.5625rem;
    }

    span {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 2.8125rem;
    }

}
