@import "../../../styles.scss";

main {
    display: flex;
    width: 77.4375rem;
    height: 18.75rem;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;

    >img {
        height: 14.70rem;
        width: 14.70rem;


    }
}

@keyframes pointOut {
    0% {
        margin: 0;
    }

    100% {
        margin: 4.05rem 4.05rem 0 0;
    }
}

@keyframes pointOutMobile {
    0% {
        margin: 0;
    }

    100% {
        margin: 4.2435rem 4.2435rem 0 0;
    }
}

@media (max-width: 875px) {
    main {
        width: 15.625rem;
        height: 15.625rem;

        >img {
            height: 11.3815rem;
            width: 11.3815rem;
        }
    }
}