@import "../../../../styles.scss";

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: $cream;

    >div {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 35.6875rem;
        margin-top: 0.0625rem;
        margin-bottom: 11.8125rem;
        animation: 100ms showUp ease-in-out forwards;
        z-index: 5;
    }
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36.25rem;
    height: 10.4375rem;
    position: relative;

    >h1 {
        color: $black;
        text-align: center;
        font-family: Syne;
        font-size: 6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.15rem;
    }

    .edge {
        position: absolute;
        left: 0;
        bottom: 0;
        width: calc(2.4375rem - 4px);
        height: calc(3.25rem - 4px);
        flex-shrink: 0;
        border-bottom: 4px solid $black;
        border-left: 4px solid $black;

    }

    &:hover {

        >.edge {
            animation: 200ms edgeAni forwards;
        }
    }

    &:active {
        >.edge {
            border: 4px solid $black;
            width: calc(100% - 8px) !important;
            height: calc(100% - 8px) !important;
        }
    }
}

footer {
    color: $cream;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90rem;
    height: 19.875rem;
    flex-shrink: 0;
    background-position: 0 4.4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../../assets/img/background-menu.svg);
    animation: 150ms showUp ease-in-out forwards;
    // Change for responsiveness
    // TODO: fix background cropped right bottom because of overflow hidden (scrollbar hidden)

    >div {
        width: calc(100% - 6.3125rem - 6.25rem);
        height: calc(100% - 2.5rem);
        padding: 0 6.3125rem 2.5rem 6.25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        >div {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;

            >span {
                font-size: 1.4375rem;
                font-weight: 300;
                letter-spacing: -0.03594rem;
                height: 1.6875rem;
                display: flex;
                align-items: center;
            }
        }

        >h2 {
            font-family: Syne;
            font-size: 4.875rem;
            font-weight: 800;
            line-height: 100%;
            /* 4.875rem */
            letter-spacing: 0.04875rem;
        }
    }


}

.socials {
    display: inline-flex;
    height: 2.5rem;
    align-items: center;
    gap: 2.625rem;
    flex-shrink: 0;

    >a {
        display: flex;
        width: 2.5rem;
        height: 2.5rem;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        >img {
            transition: 100ms ease-out;
            width: 1.875rem;
            flex-shrink: 0;
        }

        &:hover {
            >img {
                transform: translateY(-0.8125rem);
            }

        }
    }
}

.hideAni100 {
    animation: 100ms hide ease-in-out forwards !important;
}

.hideAni150 {
    animation: 150ms hide ease-in-out forwards !important;
}

@keyframes showUp {
    0% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes hide {
    100% {
        transform: translateY(50%);
    }

    0% {
        transform: translateY(0);
    }
}

@keyframes edgeAni {
    0% {}

    50% {
        height: 0;
        width: 100%;
    }

    50.1% {
        left: 0;
        right: 0;
    }

    50.2% {
        left: unset;
    }

    100% {
        height: 0;
        width: 15.25rem;
        left: unset;
        right: 0;
    }
}