<main>
    <div [ngClass]="menuOpen ? null : 'hideAni100'">
        <div [routerLink]="''" (click)="scrollToSection('about-me')" class="section">
            <h1>{{ "about-me" | translate }}</h1>
            <div class="edge"></div>
        </div>
        <div [routerLink]="''" (click)="scrollToSection('my-skills')" class="section">
            <h1>{{ "my-skills" | translate }}</h1>
            <div class="edge"></div>
        </div>
        <div [routerLink]="''" (click)="scrollToSection('portfolio')" class="section">
            <h1>Portfolio</h1>
            <div class="edge"></div>
        </div>
    </div>
    <footer [ngClass]="menuOpen ? null : 'hideAni150'">
        <div>
            <h2>Say Hi!</h2>
            <div>
                <div>
                    <span>ghulammustafa&#64;kakar.dev</span>
                    @if (copied) {
                        <img class="success" src="../../../../assets/img/symbols/success-green.svg" alt="Copied">
                    } @else {
                        <img (click)="copyToClipboard()" src="../../../../assets/img/symbols/copy.svg" alt="Copy">
                    }
                    
                </div>
                <div class="socials">
                    <a href="https://github.com/Kakar21" target="_blank"><img src="../../../../assets/img/socials/github.svg" alt="Github"></a>
                    <a href="mailto:ghulammustafa@kakar.dev"><img src="../../../../assets/img/socials/mail.svg" alt="E-Mail"></a>
                    <a href="https://www.linkedin.com/in/ghulammustafa-kakar/" target="_blank"><img src="../../../../assets/img/socials/linkedin.svg" alt="LinkedIn"></a>
                </div>
            </div>
        </div>
    </footer>
</main>