@import "../../../../styles.scss";

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $cream;

    >div {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        margin-top: 0.0625rem;
        margin-bottom: 11.8125rem;
        animation: 100ms showUp ease-in-out forwards;
        z-index: 5;
    }
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36.25rem;
    height: 10.4375rem;
    position: relative;
    cursor: pointer;

    >h1 {
        color: $black;
        text-align: center;
        font-family: Syne;
        font-size: 6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.15rem;
    }

    .edge {
        position: absolute;
        left: 0;
        bottom: 0;
        width: calc(2.4375rem - 4px);
        height: calc(3.25rem - 4px);
        flex-shrink: 0;
        border-bottom: 4px solid $black;
        border-left: 4px solid $black;

    }

    &:hover {

        >.edge {
            animation: 200ms edgeAni forwards;
        }
    }

    &:active {
        >.edge {
            border: 4px solid $black;
            width: calc(100% - 8px) !important;
            height: calc(100% - 8px) !important;
        }
    }
}

footer {
    color: $cream;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 19.875rem;
    flex-shrink: 0;
    background-position: 0 4.4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../../assets/img/background-menu.svg);
    animation: 150ms showUp ease-in-out forwards;
    // Change for responsiveness
    // TODO: fix background cropped right bottom because of overflow hidden (scrollbar hidden)

    >div {
        width: calc(100% - 6.3125rem - 6.25rem);
        height: calc(100% - 2.5rem);
        padding: 0 6.3125rem 2.5rem 6.25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        >div {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;

            >div:not(.socials) {
                display: flex;
                align-items: flex-end;
                gap: 0.5rem;

                >span {
                    font-size: 1.4375rem;
                    font-weight: 300;
                    letter-spacing: -0.03594rem;
                    height: 1.6875rem;
                    display: flex;
                    align-items: center;
                    margin-bottom: -0.25rem;
                }

                >img {
                    width: 1.5rem;
                    padding: 0.375rem 0.375rem 0 0.375rem;
                    animation: 300ms ease-out blendIn forwards;
                    cursor: pointer;
                }
            }
        }

        >h2 {
            font-family: Syne;
            font-size: 4.875rem;
            font-weight: 800;
            line-height: 100%;
            /* 4.875rem */
            letter-spacing: 0.04875rem;
        }
    }


}

.socials {
    display: inline-flex;
    height: 2.5rem;
    align-items: center;
    gap: 2.625rem;
    flex-shrink: 0;

    >a {
        display: flex;
        width: 2.5rem;
        height: 2.5rem;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        >img {
            transition: 100ms ease-out;
            width: 1.875rem;
            flex-shrink: 0;
        }

        &:hover {
            >img {
                transform: translateY(-0.8125rem);
            }

        }
    }
}

.my-skills-de {
    font-size: 5.5rem !important;
}

.success {
    animation: 300ms ease-out blendIn forwards;
}

.hideAni100 {
    animation: 100ms hide ease-in-out forwards !important;
}

.hideAni150 {
    animation: 150ms hide ease-in-out forwards !important;
}

@keyframes blendIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes showUp {
    0% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes hide {
    100% {
        transform: translateY(50%);
    }

    0% {
        transform: translateY(0);
    }
}

@keyframes edgeAni {
    0% {}

    50% {
        height: 0;
        width: 100%;
    }

    50.1% {
        left: 0;
        right: 0;
    }

    50.2% {
        left: unset;
    }

    100% {
        height: 0;
        width: 15.25rem;
        left: unset;
        right: 0;
    }
}

@media (min-width: 390px) and (max-width: 874px) {

    main {
        >div {
            margin-bottom: 17.5rem;
        }
    }


    .section {
        width: 17.36525rem;
        height: 5rem;

        >h1 {
            font-size: 2.8125rem;
            letter-spacing: -0.07031rem;
        }

        .edge {
            width: calc(1.16769rem - 4px);
            height: calc(1.55688rem - 4px);
        }
    }

    .my-skills-de {
        font-size: 2.578125rem !important;
    }

    footer {
        display: flex;
        width: 100%;
        align-items: flex-end;

        >div {
            width: calc(100% - 1.25rem - 1.5625rem);
            height: 45%;
            justify-content: space-between;
            padding: 0 1.25rem 3.625rem 1.5625rem;

            >h2 {
                font-size: 2.8125rem;
                letter-spacing: 0.02813rem;
            }

            >div {
                flex: 1;
                flex-direction: column;

                >div:not(.socials) {
                    align-self: flex-start;
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    footer {
        height: 21rem;
    }
}

@media (min-width: 1800px) {
    footer {
        height: 22rem;
    }
}

@media (min-width: 1920px) {
    footer {
        height: 23rem;
    }
}

@media (min-width: 2100px) {
    footer {
        height: 19.875rem;
    }
}

// @media (min-width: 2200px) {
//     footer {
//         height: 25rem;
//     }
// }

// @media (min-width: 2325px) {
//     footer {
//         height: 26rem;
//     }
// }

// @media (min-width: 2500px) {
//     footer {
//         height: 27rem;
//     }
// }
