@import "../../../styles.scss";

main {
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/img/background-contact.svg);
    background-size: cover;
    background-position: top;
    color: $cream;
    padding: 0 6.5rem 0.25rem 6.5rem;
    gap: 3.625rem;

    >div:not(.scroll-up) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.125rem;

        >h6 {
            color: $orange;
            font-size: 2rem;
            line-height: 120%;
        }

        >p {
            font-size: 1.4375rem;
            line-height: 120%;
        }
    }
}

h2 {
    font-family: Syne;
    padding-top: 9.40625rem;
    align-self: flex-start;
    font-size: 4.875rem;
    font-weight: 800;
    line-height: 100%;
    white-space: nowrap;
    letter-spacing: 0.04875rem;
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;

    >img {
        top:0.78125rem;
        right: 1.5625rem;
        bottom: 0.78125rem;
        position: absolute;
        width: 1.56556rem;
        height: 1.5625rem;
        flex-shrink: 0;
        animation: 300ms ease-out blendIn forwards;
    }

    >label {
        padding-right: 2px;
        padding-left: 1px;
        top: 0.9375rem;
        left: 1.5625rem;
        position: absolute;
        color: $cream;
        font-family: Overpass;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        background-color: $black;
    }

    &:hover {

        >input,
        textarea {
            border-top: 4px solid transparent !important;
            border-right: 4px solid transparent !important;
            border-left: 4px solid transparent !important;
            border-color: $cream !important;
            border-bottom: 4px solid $cream !important;
            margin: 0 !important;
        }
    }

    >input,
    textarea {

        &:focus+label,
        &:valid+label {
            animation: 300ms placeholderShowUp ease-out forwards;
            z-index: 1;
        }
    }
}

form {
    margin-top: 0.125rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;

    .field input {
        height: calc(3.125rem - 0.9375rem - 0.9375rem - 6px);
    }

    textarea {
        height: calc(12.625rem - 0.9375rem - 0.9375rem - 6px);
    }

    >.field input,
    .field textarea {
        width: calc(35.4375rem - 8px);
        padding: 0.9375rem 1.5625rem;
        background-color: $black;
        border-bottom: 2px solid $cream;
        color: $cream;
        resize: none;
        margin: 4px 4px 2px 4px;
        z-index: 1;
        background-color: unset;
        font-size: 1rem;
        line-height: 120%;
        /* 1.2rem */

        &:focus {
            margin: 2px !important;
            border: 2px solid $cream !important;
        }

        &:not(:focus):valid {
            border: 1px solid $cream !important;
            margin: 3px !important;
        }
    }

    >button {
        color: $cream;
        margin-top: -0.5rem;
        font-size: 1.4375rem;
        line-height: 120%;
        padding: calc(1.25rem - 4px) calc(3.75rem - 4px);
        border: 4px solid $cream;
    }

    >.disabled {
        opacity: 0.3 !important;
    }

    >button:not(.disabled):active {
        background-color: $cream !important;
        font-weight: 400 !important;
        color: $black !important;
    }

    >div:not(.field) {
        display: flex;
        margin-top: -0.25rem;

        >label {
            display: flex;
            align-items: center;
            position: relative;
            box-sizing: border-box;
            font-size: 0.875rem;
            line-height: 120%;
            padding-left: 1.75rem;

            >a {
                color: $orange;
                padding: 0 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;

                &:hover {
                    font-weight: 700;
                }
            }
        }
    }

}

#privacyPolicy {
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    position: absolute;
    background-image: url(../../../assets/img/symbols/unchecked.svg);
    width: 1.5rem;
    height: 1.5rem;
    left: 0;

    &:hover {
        background-image: url(../../../assets/img/symbols/unchecked-hover.svg);
    }

    &:checked {
        background-image: url(../../../assets/img/symbols/checked.svg);
    }

    &:checked:hover {
        background-image: url(../../../assets/img/symbols/checked-hover.svg);
    }

}

.privacy-policy-c {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.scroll-up {
    margin-top: -7rem;
    align-self: flex-end;
    display: flex;
    width: 3.36575rem;
    height: 4.75275rem;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
    margin-right: -0.615625rem;
    overflow: hidden;

    >img {
        width: 2.24075rem;
        height: 4.75rem;
        transform: translateY(1.59725rem);
        flex-shrink: 0;
        transition: 300ms ease-out;
    }

    &:hover {
        >img {
            transform: translateY(0.1rem);
        }
    }
}

.error {
    color: $red;
    font-family: Overpass;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    animation: 300ms errorAwake ease-out forwards;
    /* 0.9rem */
}

@keyframes errorAwake {
    0% {
        margin-top: 0;
    }

    100% {
        margin-top: 0.625rem;
    }
}

@keyframes blendIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes placeholderShowUp {
    0% {
        top: 0.9375rem;
    }

    100% {
        top: -0.375rem;
    }
}