<main>
    <h2>Say Hi!</h2>
    <div>
        <h6>Want to discuss a new project?</h6>
        <p>Say hello! let's discuss your ideas and make it happen</p>
        <form action="">
            <div class="field">
                <input type="text" required>
                <span>Your name</span>
            </div>
            <div class="field">
                <input type="text" required>
                <span>Your email</span>
            </div>
            <div class="field">
                <textarea name="" id="" cols="30" rows="10" required></textarea>
                <span>Your  message</span>
            </div>
            
            <div>
                <label for="privacy-policy"><input type="checkbox" id="privacy-policy" required>I've read the <a href="">privacy
                        policy</a> and agree to the processing of my data as
                    outlined.</label>
            </div>
            <button type="submit">Send message</button>
                    <!-- TODO: fix bug? no hover effect when button disabled -->
        </form>
    </div>
    <div class="scroll-up">
        <img src="../../../assets/img/arrows/scroll-up/2.svg" alt="Scroll Up">
    </div>
</main>