<main>
    <h2>{{ "say-hi" | translate }}</h2>
    <div>
        <h6>{{ "contact-h6" | translate }}</h6>
        <p>{{ "contact-p" | translate }}</p>
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="field">
                <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" required>
                <label class="noselect" for="name">{{ "name" | translate }}</label>

                @if (name.touched) {
                @if (name.valid) {
                <img class="noselect" src="../../../assets/img/symbols/success-green.svg">
                }@else {
                <img class="noselect" src="../../../assets/img/symbols/attention-red.svg">
                }
                }

                @if (!name.valid && (contactForm.submitted || name.touched) ) {
                <span class="error">{{ "name-required" | translate }}</span>
                }
            </div>
            <div class="field">
                <input #email="ngModel" [(ngModel)]="contactData.email" type="text" id="email" name="email" required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                <label class="noselect" for="email">{{ "email" | translate }}</label>

                @if (email.touched) {
                @if (email.valid) {
                <img class="noselect" src="../../../assets/img/symbols/success-green.svg">
                }@else {
                <img class="noselect" src="../../../assets/img/symbols/attention-red.svg">
                }
                }

                @if (!email.valid && (contactForm.submitted || email.touched) ) {
                <span class="error">{{ "email-required" | translate }}</span>
                }
            </div>
            <div class="field">
                <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message" cols="30"
                    rows="10" required></textarea>
                <label class="noselect" for="message">{{ "message" | translate }}</label>

                @if (message.touched) {
                @if (message.valid) {
                <img class="noselect" src="../../../assets/img/symbols/success-green.svg">
                }@else {
                <img class="noselect" src="../../../assets/img/symbols/attention-red.svg">
                }
                }

                @if (!message.valid && (contactForm.submitted || message.touched) ) {
                <span class="error">{{ "message-required" | translate }}</span>
                }
            </div>

            <div class="privacy-policy-c">
                <label for="privacy-policy"><input id="checkbox" #privacyPolicy="ngModel" [(ngModel)]="contactData.privacyPolicy"
                        type="checkbox" id="privacyPolicy" name="privacyPolicy" required>{{ "checkbox-1" | translate }}<a
                        href="{{'privacy-policy-link' | translate}}" target="_blank" name="{{'privacy-policy' | translate}}" >{{ "privacy-policy" | translate }}</a>{{ "checkbox-2" | translate }}</label>
                @if (!contactData.privacyPolicy && (contactForm.submitted || privacyPolicy.touched)) {
                <span class="error">{{ "privacy-policy-required" | translate }}</span>
                }
            </div>

            @if (mailSent) {
            <button class="noselect" type="submit" value="Submit" disabled>{{ "thanks" | translate }}<img src="../../../assets/img/symbols/success-green.svg"></button>
            } @else if (contactForm.valid) {
            <button class="noselect" type="submit" value="Submit">{{ "send" | translate }}</button>
            } @else {
            <button type="submit" value="Submit" class="disabled noselect">{{ "send" | translate }}</button>
            }
        </form>
    </div>
    <div (click)="scrollToSection('hero')" class="scroll-up noselect">
        <img src="../../../assets/img/arrows/scroll-up/2.svg" alt="Scroll Up">
    </div>
</main>