<main>
    <h2>Say Hi!</h2>
    <div>
        <h6>Want to discuss a new project?</h6>
        <p>Say hello! let's discuss your ideas and make it happen</p>
        <form action="">
            <input type="text" placeholder="Your name">
            <input type="text" placeholder="Your email">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your  message"></textarea>
            <div>
                <label for="privacy-policy"><input type="checkbox" id="privacy-policy">I've read the <a href="">privacy
                        policy</a> and agree to the processing of my data as
                    outlined.</label>
            </div>
            <button type="submit">Send message</button>
        </form>
    </div>
    <div class="scroll-up">
        <img src="../../../assets/img/arrows/scroll-up/2.svg" alt="Scroll Up">
    </div>
</main>